* {
  margin: 0;
  padding: 0;
}


body {
  color: #777;
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
}


/** 
 * vh: @ every point the height of the green header box, of this element, 
 * should be 95% of the viewport height. Now we could put 100vh, then the
 * element would always be exactly the same height as the viewport, but I
 * chose to go with 95 to make it not 100, but almost to 100. 
 *
 */
.header {
  height: 95vh; 
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)),
    url(./img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /*
    * 1st: Top left 
    * 2nd: Top right
    * 3rd: Bottom Right
    * 4th: Bottom Left
    */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)
}


.logo-box {
  top: 40px;
  left: 40px;
  position: absolute;
}

.logo {
  height: 35px;
}

.text-box {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}


.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-iteration-count: 3s;
  animation-timing-function: ease-out;
  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;

  animation-name: moveInRight;
  animation-duration: 3s;
  animation-iteration-count: 3s;
  animation-timing-function: ease-out;
}


@keyframes moveInLeft {
  /* start */
  0% {
    opacity: 0; /* invisible */
    transform: translateX(-100px);
  }

  /* halfway */
  80% {
    transform: translateX(10px);
  }

  /* finish */
  100% {
    opacity: 1; /* visible */
    transform: translateX(0);
  }
}




@keyframes moveInRight {
  /* start */
  0% {
    opacity: 0; /* invisible */
    transform: translateX(100);
  }

  /* halfway */
  80% {
    transform: translateX(-10px);
  }

  /* finish */
  100% {
    opacity: 1; /* visible */
    transform: translateX(0);
  }
}